<div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">ASP-Explainer</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">程序编辑<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown01" role="button" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">
            交互解释
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/grounding">实例化交互</a>
            <a class="dropdown-item" href="#">解释查看</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown02" role="button" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">
            交互调试
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Find here..." aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
</div>

<div class="container h-100 mt-4">

  <!-- 代码框 -->
  <div class="row mb-4">
    <div class="col">
      <div class="code-editor" #codeEditor></div>
    </div>
  </div>

  <!-- 按钮列表 -->
  <div class="row mb-4 justify-content-center mx-4">
    <div class="col-4 col-lg-2 col-md-3 col-sm-4 w-75">
      <button type="button" class="btn btn-beautify btn-sm btn-block px-4 mx-2" (click)="getCodeAndSolve()">
        使用Clingo <br> 求解
      </button>
    </div>
    <div class="col-4 col-lg-2 col-md-3 col-sm-4 w-75">
      <button type="button" class="btn btn-beautify btn-sm btn-block px-4 mx-2"
              (click)="interactiveGrounding()">
        交互式 <br> 实例化
      </button>
    </div>
    <div class="col-4 col-lg-2 col-md-3 col-sm-4 w-75">
      <button type="button" class="btn btn-beautify btn-sm btn-block px-4 mx-2" (click)="clearAll()">
        Clear <br> Record
      </button>
    </div>
  </div>

  <div>
    <iframe [src]="iframe | safe: 'resourceUrl'" width="500" height="600" ></iframe>
  </div>

  <!-- 输出框 -->
  <div *ngIf="!startExplanation && !startGrounding" class="row mt-4">
    <div class="col">
      <div class="label-box border"><span class="mx-4 font-weight-light">Output</span></div>
      <textarea class="form-control output" rows="20" disabled="true" aria-label="output-textarea">{{outputBox}}
            </textarea>
    </div>
  </div>

  <!-- 交互实例化框 -->
  <div *ngIf="startGrounding">
    <div class="row mt-4">
      <p>勾选默认为真的文字</p>
    </div>
    <div style="border-bottom: 1px solid rgb(233, 233, 233);" class="row mt-4">
      <label nz-checkbox [(ngModel)]="allChecked" (ngModelChange)="updateAllChecked()"
             [nzIndeterminate]="indeterminate">
        全部选择
      </label>
    </div>
    <br>
    <div class="row mt-8">
      <div class="col-6 col-lg-4 col-md-6 col-sm-8 w-75">
      <nz-checkbox-group [(ngModel)]="checkOptionsOne" (ngModelChange)="updateSingleChecked()"></nz-checkbox-group>
      </div>
      <div class="col-6 col-lg-4 col-md-6 col-sm-8 w-75">
      <button *ngIf="needBinding" type="button" class="btn btn-beautify btn-sm btn-block px-4 mx-2" (click)="goBinding()">
        绑定变量
      </button>
      </div>
    </div>

    <div *ngIf="allTrueSelected && needBinding" class="row mt-4">
      <p>绑定为真的变量</p>
    </div>

    <div>
      <nz-table *ngIf="allTrueSelected && needBinding" #basicTable [nzData]="literals">
        <thead>
        <tr>
          <th>文字</th>
          <th>变量<br>绑定</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let lit of literals; let i = index">
          <td>{{lit}}</td>
          <td>
            <nz-select nzMode="multiple" nzPlaceHolder="选择绑定的变量..." [(ngModel)]="selectedLiterals[i]">
              <nz-option *ngFor="let option of selectable_literals" [nzLabel]="option" [nzValue]="option" [nzHide]="!isNotSelected(option,i)"></nz-option>
            </nz-select>
          </td>
        </tr>
        </tbody>
      </nz-table>
    </div>
    <button *ngIf="allTrueSelected && needBinding" type="button" class="btn btn-beautify btn-sm btn-block px-4 mx-2" (click)="submitBinding()">
      确认绑定
    </button>
  </div>


  <div *ngIf="startExplanation">
    <h3>
      Choose the answer set for explanation:
    </h3>

    <nz-radio-group [(ngModel)]=selected>
      <div *ngFor="let ans of answerSetList; let i = index">
        <label nz-radio [nzValue]="i">
          Answer {{i + 1}} : {{answerSetDisplay(ans)}}
        </label>
      </div>
    </nz-radio-group>

    <!--
    <nz-radio-group [(ngModel)]=selected>
      <label nz-radio nzValue="A">Option A</label>
      <label nz-radio nzValue="B">Option B</label>
      <label nz-radio nzValue="C">Option C</label>
    </nz-radio-group>
    -->
  </div>

  <script src="https://d3js.org/d3.v4.min.js"></script>
  <svg id="graph" width="800" height="800"></svg>

  <script src=""></script>
</div>
